In [18]:
import pandas as pd
import numpy as np

In [38]:
# Read in raw data
df = pd.read_csv("../../data/raw/ACSDP5Y2020.DP02-Data.csv", header=1)
df

/home/agale/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3417: DtypeWarning: Columns (72,73,100,101,124,125,154,155,156,157,162,163,164,165,170,171,172,173,236,237,766,767,768,769,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,998,999,1000,1001,1002,1003,1004,1005,1014,1015,1016,1017,1018,1019,1020,1021,1026,1027,1028,1029,1030,1031,1032,1033,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Geography,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Margin of Error!!HOUSEHOLDS BY TYPE!!Total households,Annotation of Margin of Error!!HOUSEHOLDS BY TYPE!!Total households,Annotation of Estimate!!HOUSEHOLDS BY TYPE!!Total households,Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household,Margin of Error!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household,Annotation of Margin of Error!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household,Annotation of Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household,...,Annotation of Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households,Percent!!COMPUTERS AND INTERNET USE!!Total households!!With a computer,Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a computer,Annotation of Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a computer,Annotation of Percent!!COMPUTERS AND INTERNET USE!!Total households!!With a computer,Percent!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription,Annotation of Percent!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription,Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription,Annotation of Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription,Unnamed: 1234
0,0500000US01001,"Autauga County, Alabama",21559.0,366.0,NaN,NaN,11281.0,552.0,NaN,NaN,...,(X),91.4,1.0,NaN,NaN,82.7,NaN,1.8,NaN,NaN
1,0500000US01003,"Baldwin County, Alabama",84047.0,1143.0,NaN,NaN,46277.0,1550.0,NaN,NaN,...,(X),91.8,0.8,NaN,NaN,85.1,NaN,1.2,NaN,NaN
2,0500000US01005,"Barbour County, Alabama",9322.0,338.0,NaN,NaN,3613.0,305.0,NaN,NaN,...,(X),79.8,2.6,NaN,NaN,64.6,NaN,3.5,NaN,NaN
3,0500000US01007,"Bibb County, Alabama",7259.0,299.0,NaN,NaN,3597.0,382.0,NaN,NaN,...,(X),83.2,3.8,NaN,NaN,76.1,NaN,3.4,NaN,NaN
4,0500000US01009,"Blount County, Alabama",21205.0,430.0,NaN,NaN,12053.0,675.0,NaN,NaN,...,(X),85.0,1.7,NaN,NaN,79.6,NaN,2.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,0500000US72145,"Vega Baja Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3217,0500000US72147,"Vieques Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3218,0500000US72149,"Villalba Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3219,0500000US72151,"Yabucoa Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3220,0500000US72153,"Yauco Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# Simplify to the desired columns
df = df.rename(
    columns={
        "Percent!!LANGUAGE SPOKEN AT HOME!!Population 5 years and over!!Language other than English!!Speak English less than 'very well'": "non_english_speaking"
    }
)
df = df[["Geography", "non_english_speaking"]]
df

           Geography  non_english_speaking
0     0500000US01001                   1.3
1     0500000US01003                   1.8
2     0500000US01005                   2.8
3     0500000US01007                   1.4
4     0500000US01009                   3.3
...              ...                   ...
3216  0500000US72145                   NaN
3217  0500000US72147                   NaN
3218  0500000US72149                   NaN
3219  0500000US72151                   NaN
3220  0500000US72153                   NaN

[3221 rows x 2 columns]

In [40]:
# Convert "Geography" to fips
df["fips"] = df["Geography"].str.replace("0500000US", "").astype(int)
df

           Geography  non_english_speaking   fips
0     0500000US01001                   1.3   1001
1     0500000US01003                   1.8   1003
2     0500000US01005                   2.8   1005
3     0500000US01007                   1.4   1007
4     0500000US01009                   3.3   1009
...              ...                   ...    ...
3216  0500000US72145                   NaN  72145
3217  0500000US72147                   NaN  72147
3218  0500000US72149                   NaN  72149
3219  0500000US72151                   NaN  72151
3220  0500000US72153                   NaN  72153

[3221 rows x 3 columns]

In [41]:
# Replace N with NaN
df = df.replace("N", np.nan)
df["non_english_speaking"] = df["non_english_speaking"].astype(float)
df

           Geography  non_english_speaking   fips
0     0500000US01001                   1.3   1001
1     0500000US01003                   1.8   1003
2     0500000US01005                   2.8   1005
3     0500000US01007                   1.4   1007
4     0500000US01009                   3.3   1009
...              ...                   ...    ...
3216  0500000US72145                   NaN  72145
3217  0500000US72147                   NaN  72147
3218  0500000US72149                   NaN  72149
3219  0500000US72151                   NaN  72151
3220  0500000US72153                   NaN  72153

[3221 rows x 3 columns]

In [42]:
# Simplify to desired columns
df = df[["fips", "non_english_speaking"]]
df

       fips  non_english_speaking
0      1001                   1.3
1      1003                   1.8
2      1005                   2.8
3      1007                   1.4
4      1009                   3.3
...     ...                   ...
3216  72145                   NaN
3217  72147                   NaN
3218  72149                   NaN
3219  72151                   NaN
3220  72153                   NaN

[3221 rows x 2 columns]

In [43]:
# Write out the cleaned data
df.to_csv("../../data/processed/language_barriers.csv", index=False)