In [36]:
import pandas as pd

In [37]:
# Read in raw data
df = pd.read_csv("../../data/raw/database.csv")
df

,Report Number,Supplemental Number,Accident Year,Accident Date/Time,Operator ID,Operator Name,Pipeline/Facility Name,Pipeline Location,Pipeline Type,Liquid Type,...,Other Fatalities,Public Fatalities,All Fatalities,Property Damage Costs,Lost Commodity Costs,Public/Private Property Damage Costs,Emergency Response Costs,Environmental Remediation Costs,Other Costs,All Costs
0,20100016,17305,2010,1/1/2010 7:15 AM,32109,ONEOK NGL PIPELINE LP,KINDER MORGAN JCT,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,NaN,NaN,NaN,110.0,1517.0,0.0,0.0,0.0,0.0,1627
1,20100254,17331,2010,1/4/2010 8:30 AM,15786,PORTLAND PIPELINE CORP,24-INCH MAIN LINE,ONSHORE,ABOVEGROUND,CRUDE OIL,...,NaN,NaN,NaN,4000.0,8.0,0.0,0.0,0.0,0.0,4008
2,20100038,17747,2010,1/5/2010 10:30 AM,20160,"PETROLOGISTICS OLEFINS, LLC",NaN,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,NaN,NaN,NaN,0.0,200.0,0.0,0.0,0.0,0.0,200
3,20100260,18574,2010,1/6/2010 7:30 PM,11169,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",SUPERIOR TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,...,NaN,NaN,NaN,200.0,40.0,0.0,11300.0,0.0,0.0,11540
4,20100030,16276,2010,1/7/2010 1:00 PM,300,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,...,NaN,NaN,NaN,20000.0,150.0,0.0,7500.0,2000.0,0.0,29650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2790,20170015,22020,2016,12/27/2016 8:40 AM,32334,TC OIL PIPELINE OPERATIONS INC,KEYSTONE,ONSHORE,ABOVEGROUND,CRUDE OIL,...,NaN,NaN,NaN,0.0,15.0,0.0,0.0,61000.0,0.0,61015
2791,20170028,22046,2016,12/28/2016 4:20 PM,4906,EXXONMOBIL PIPELINE CO,BRRF - CHOCTAW ETHANE/PROPANE MIX SYSTEM,ONSHORE,UNDERGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,NaN,NaN,NaN,0.0,5400.0,0.0,0.0,0.0,100000.0,105400
2792,20170027,22045,2016,12/29/2016 6:40 AM,39145,ENBRIDGE STORAGE (CUSHING) L.L.C.,CUSHING CENTRAL TERMINAL,ONSHORE,TANK,CRUDE OIL,...,NaN,NaN,NaN,7000.0,50.0,0.0,5000.0,3000.0,0.0,15050
2793,20170024,22032,2017,1/3/2017 10:00 AM,32147,MARATHON PIPE LINE LLC,MIDLAND STATION,ONSHORE,UNDERGROUND,"REFINED AND/OR PETROLEUM PRODUCT (NON-HVL), LI...",...,NaN,NaN,NaN,11852.0,11.0,0.0,29565.0,0.0,0.0,41428
2794,20170025,22040,2017,1/9/2017 7:40 AM,30829,ENTERPRISE CRUDE PIPELINE LLC,MARSHALL STATION,ONSHORE,ABOVEGROUND,CRUDE OIL,...,NaN,NaN,NaN,45600.0,200.0,0.0,0.0,0.0,0.0,45800

In [38]:
# Only keep a subset of columns
df = df[
    [
        "Report Number",
        "Accident Latitude",
        "Accident Longitude",
        "Unintentional Release (Barrels)",
        "Intentional Release (Barrels)",
    ]
]
df

,Report Number,Accident Latitude,Accident Longitude,Unintentional Release (Barrels),Intentional Release (Barrels)
0,20100016,38.670700,-97.781230,21.00,0.1
1,20100254,43.940280,-70.493360,0.12,0.0
2,20100038,30.182400,-93.352400,2.00,0.0
3,20100260,46.689300,-92.061200,0.48,0.0
4,20100030,33.582660,-96.648810,700.00,NaN
...,...,...,...,...,...
2790,20170015,39.517036,-93.486055,0.25,NaN
2791,20170028,30.332597,-91.274491,580.00,0.0
2792,20170027,35.565292,-96.454956,1.00,NaN
2793,20170024,40.631074,-80.440463,0.20,NaN
2794,20170025,29.305410,-97.400301,4.00,NaN

In [39]:
# Group by lat/long to get total spills in each location
df = (
    df.groupby(["Accident Latitude", "Accident Longitude"])
    .agg(
        {
            "Unintentional Release (Barrels)": "sum",
            "Intentional Release (Barrels)": "sum",
            "Report Number": "count",
        }
    )
    .reset_index()
)
df

,Accident Latitude,Accident Longitude,Unintentional Release (Barrels),Intentional Release (Barrels),Report Number
0,18.448010,-66.074760,66.00,0.0,1
1,21.304380,-158.093700,14.00,0.0,1
2,21.316680,-158.099930,3.00,0.0,1
3,21.317740,-157.890550,1300.00,0.0,1
4,23.336784,-94.958220,75.00,1338.0,1
...,...,...,...,...,...
2563,70.107620,-147.386330,0.01,0.0,1
2564,70.151205,-147.096536,0.28,0.0,1
2565,70.256660,-148.620300,308.00,0.0,1
2566,70.257147,-148.621973,4.31,0.0,1
2567,70.261265,-148.611844,6.00,0.0,1

In [40]:
# Rename columns
df["oil_barrels_spilled"] = (
    df["Unintentional Release (Barrels)"] + df["Intentional Release (Barrels)"]
)
df = df.rename(
    columns={
        "Accident Latitude": "latitude",
        "Accident Longitude": "longitude",
        "Report Number": "spill_count",
    }
)
df = df[["latitude", "longitude", "oil_barrels_spilled", "spill_count"]]
df

       latitude   longitude  oil_barrels_spilled  spill_count
0     18.448010  -66.074760                66.00            1
1     21.304380 -158.093700                14.00            1
2     21.316680 -158.099930                 3.00            1
3     21.317740 -157.890550              1300.00            1
4     23.336784  -94.958220              1413.00            1
...         ...         ...                  ...          ...
2563  70.107620 -147.386330                 0.01            1
2564  70.151205 -147.096536                 0.28            1
2565  70.256660 -148.620300               308.00            1
2566  70.257147 -148.621973                 4.31            1
2567  70.261265 -148.611844                 6.00            1

[2568 rows x 4 columns]

In [41]:
# Write out the cleaned data
df.to_csv("../../data/processed/oil_accidents.csv", index=False)